div.primalContainer {
    display: grid;
}



.lista {
    display: flex;
    flex-direction: row;
    display: inline;

}

.secondaryTitle {
    color: red;
    margin: 10px;

}


div.div1 {
    display: flex;
}

body {
    display: grid;
}

#ingresoDeIngredientes {
    margin-top: 5rem;
    padding-right: 10px;
}

#carrito {
    margin-top: 5rem;
    color: black;
}

